<section class="section content">
  <h1 class="block">Cosas que hago</h1>
  <div class="columns is-centered">
    <div class="column skill is-narrow">
      <app-doable
        title="Desarrollo de Software"
        icon="laptop-dev-mode"
        description="Mi profesión, me encanta el desarrollo, desde la ideación hasta la puesta en producción. Puedo ayudarte a crear
    sistemas para tu negocio o para tu propio uso."
      ></app-doable>
    </div>
    <div class="column skill is-narrow">
      <app-doable
        title="Música"
        icon="headset"
        description="Puedes seguirme en spotify como Preshu, tengo solo una canción publicada de muchas que he guardado para mí o han sido olvidadas en el ciberespacio. Es un hobbie que
no he dejado desde que tengo 16 años"
      ></app-doable>
    </div>
    <div class="column skill is-narrow">

      <app-doable
        title="Videojuegos"
        icon="gamepad"
        description="Me gustan los videojuegos, una de mis metas es algún día desarrollar un videojuego y publicarlo en Steam."
      ></app-doable>
    </div>
  </div>
</section>
