<div class="content">
  <h1>Cosas que hago</h1>
  <div class="columns is-centered">
    <div class="column skill">
      <div class="box">
        <span class="icon is-large">
          <i class="iconoir-laptop-dev-mode main-icon"></i>
        </span>
        <h4 class="title">Desarrollo de Software</h4>
        <p>Mi profesión, me encanta el desarrollo, desde la ideación hasta la puesta en producción. Puedo ayudarte a crear
        sistemas para tu negocio o para tu propio uso.</p>
      </div>
    </div>
  </div>
</div>
