<section class="section content">
  <h1 class="block">Proyectos:</h1>
  <div class="columns box">
    <div class="column is-8 is-centered brockey">
      <div class="column project ">
        <h1>Brockey!</h1>
        <p><strong>Brockey!</strong> es un minijuego que desarrollé en colaboración con un amigo. En este juego, tomas
          el control de Brockey, un valiente brócoli que debe liberar una mazmorra del malvado doctor Guatín. Es un
          Dungeon Crawler donde Brockey mejora sus habilidades y poderes a medida que recolecta ítems dejados por los
          enemigos derrotados. ¡Pero cuidado! El doctor Guatín no será un rival fácil de vencer.</p>
      </div>
      <div class="column">
        <figure class="is-16by9 screenshot">
          <img src="../../../assets/brockey_shot.png" alt="">
        </figure>
      </div>
    </div>
    <div class="column is-4">
      <h3 class="subtitle">Probar la versión de Portafolio (Alpha Técnica)</h3>
      <p class="has-text-white">Versión de desarrollo temprano, es <strong>MUY</strong> probable que encuentres fallos y
        que hayan cambios y mejoras en un futuro.</p>
      <a class="button is-primary platform big" href="https://preshu-cdn.s3.amazonaws.com/brockey-mac.app.zip">
        <span class="icon is-large">
              <i class="iconoir-apple-mac main-icon big"></i>
        </span>
      </a>
      <a class="button is-primary platform big" href="https://preshu-cdn.s3.amazonaws.com/brockey-win.zip">
        <span class="icon is-large">
              <i class="iconoir-windows main-icon"></i>
        </span>
      </a>

    </div>
  </div>
</section>
