.screenshot{
  max-width: 300px;
  margin: auto;
}

.brockey{
  padding-top: 1rem;
  border-radius: 0.5rem;
  background-size: cover !important;
  background: url("../../../assets/brockey_shot_blur.png");
  p{
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
  }
}

.windows{
  font-size: 2rem;
}

.platform{
  margin: 1rem !important;
}

.button{
  color: white;
}

.big{
  font-size: 2rem;
}
