<section class="section">
  <h1 class="title">Estoy en:</h1>
    <div class="columns is-centered">
      <div class="column rrss">
        <a href="https://github.com/itspreshu">
        <span class="icon">
          <i class="iconoir-github main-icon"></i>
        </span>
        <h4 class="title"> Github </h4>
        </a>
      </div>
      <div class="column rrss">
        <a href="https://www.linkedin.com/in/luisponcegomez/">
        <span class="icon">
          <i class="iconoir-linkedin main-icon"></i>
        </span>
        <h4 class="title"> LinkedIn </h4>
        </a>
      </div>
      <div class="column rrss">
        <a href="https://open.spotify.com/intl-es/artist/0JqPHX7H3WqxACHYMXxh1K">
        <span class="icon">
          <i class="iconoir-spotify main-icon"></i>
        </span>
        <h4 class="title"> Spotify </h4>
        </a>
      </div>
    </div>
</section>
