<section class="section">
  <h1 class="title">Estoy en:</h1>
    <div class="columns">
      <div class="column">
        <a href="">
        <span class="icon">
          <i class="iconoir-instagram main-icon"></i>
        </span>
        <h4 class="title"> Instagram </h4>
        </a>
      </div>
      <div class="column">
        <a href="">
        <span class="icon">
          <i class="iconoir-github main-icon"></i>
        </span>
        <h4 class="title"> Github </h4>
        </a>
      </div>
      <div class="column">
        <a href="">
        <span class="icon">
          <i class="iconoir-linkedin main-icon"></i>
        </span>
        <h4 class="title"> LinkedIn </h4>
        </a>
      </div>
      <div class="column">
        <a href="">
        <span class="icon">
          <i class="iconoir-spotify main-icon"></i>
        </span>
        <h4 class="title"> Spotify </h4>
        </a>
      </div>
    </div>
</section>
