<section class=" section content is-centered has-text-centered">
  <h1 class="title block">Acerca de mi</h1>
  <div class="is-centered">
    <div class="columns box profile-description">
      <div class="column">
        <figure class="image is-1by1 profile-image">
          <img src="../../assets/profile-image.png" class="is-rounded" alt="">
        </figure>
      </div>
      <div class="column"><p class="text">
        Bienvenido!, soy <strong>Luis Ponce</strong>, desarrollador desde 2016, siempre me ha gustado crear cosas,
        y cuando descubrí la programación mi mente explotó.
      </p>
        <p>
          Me especializo laboralmente en el diseño y desarrollo de software, aunque a veces también tengo la afición de
          desarrollar juegos.
        </p>
        <p>Me gusta hacer beats y a veces cantar sobre ellos, es un hobbie que mantengo desde la adolescencia.</p>
        <p>
          Muchas gracias por visitar mi página, puedes pasarte por la zona de proyectos para ver algunas poc que tengo
          montadas 😁
        </p></div>


    </div>
  </div>
</section>
