@import url('../node_modules/bulma/bulma.scss');
@import url('../node_modules/iconoir/css/iconoir.css');

:root{
  --bulma-primary: #2e7bc7;
}

html{
  background-size: auto;
  background: linear-gradient(135deg, #1f3e50, #0d2033, #114c2b);
}

.box{
  background-color: rgba(255, 255, 255, 0.1) !important;
}
